.home-container{
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    /* background-image: url('../../images/protruding-squares\ \(2\).svg'); */
    /* background-image: url('../../images/endless-constellation\ \(2\).svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px;
}

.section{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}


/* ============home-entries============== */
.home-entries div{
    margin-bottom: 10px;
}
.home-entries div input{
    height: 40px;
    width: 90%;
}


/* ==============regions-entries============= */

.region{
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding: 30px;
}

.day-section{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    color: #f7f7f7;
}

.day-section .day-pn-am{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    color: #fff;
}

.day-section input, .day-section h6{
    margin-right: 10px;
}

.day-section h5{
    width: 150px;
    margin-bottom: 7px;
    border: 1px solid #f7f7f7;
    padding: 3px 5px;
}

.day-section input{
    height: 40px;
}


/* ==============spec-weather-state============= */
.spec-weather-state .title-section input, 
.spec-weather-state .content input{
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
}

.spec-weather-state .inner-section{
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    padding: 30px;
}